<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>

    <label for="year">Year of publishing</label>
    <input type="text" th:field="*{yearOfPublishing}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('yearOfPublishing')}" th:errors="*{yearOfPublishing}"></div>
    <br>

    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br>

    <input type="submit" value="Ok"/>
</form>
</body>
</html>